@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  background-color: black;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  margin-left: 260px;
  margin-right: 260px;
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px;
  }

.footer {
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
margin-top: 40px;
padding: 16px;
background: rgb(200,200,200)
}

.left-links {
display: flex;
flex-direction: row;
flex-wrap: nowrap; 
justify-content: left;
gap: 26px;
padding: 10px;
list-style-type: none;
}

.right-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right; 
  gap: 26px;
  list-style-type: none;
  padding: 10px;
}

a:link {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: small;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}



.content {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* flex-shrink: 1;
  flex-basis: auto; */
  margin-top: 100px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

img {
  width: 600px;
  align-items: center;
  justify-content: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
